<!-- Start Slider area -->
<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
	<!-- Start Single Slide -->
	<div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="slider__content">
						<div class="contentbox">
							<h2>Welcome<span> to </span></h2>
							<h2>our <span>website</span></h2>
							<h2>Hoc <span>Lam Vuon</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Single Slide -->
	<!-- Start Single Slide -->
	<div class="slide animation__style10 bg-image--3 fullscreen align__center--left">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="slider__content">
						<div class="contentbox">
							<h2>Welcome<span> to </span></h2>
							<h2>our <span>website</span></h2>
							<h2>Hoc <span>Lam Vuon</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Single Slide -->
</div>
<!-- End Slider area -->

<section class="wn__bestseller__area bg--white pt--80  pb--30">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section__title text-center">
					<h2 class="title__be--2">Bài viết <span class="color--theme">mới</span></h2>
					<p>Những bài viết mới luôn được cập nhật mỗi ngày</p>
				</div>
			</div>
		</div>
		<div class="row mt--50">
			{{#each newPosts}}
			<div class="col-md-6 col-lg-4 col-sm-12">
				<div class="post__itam">
					<div class="content">
						<img src="{{cover}}">
						<h3><a href="/listpost/{{_id}}">{{title}}</a></h3>
						<p>{{descriptions}}</p>
						<div class="post__time">
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>

<!-- Start NEwsletter Area -->
<section class="wn__newsletter__area bg-image--2">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
				<div class="section__title text-center">
					<h2>Hãy đến đây</h2>
				</div>
				<div class="newsletter__block text-center">
					<p>Theo dõi để cập nhật thêm những cuốn sách hay và bổ ích.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End NEwsletter Area -->


<section class="wn__bestseller__area bg--white pt--80  pb--30">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section__title text-center">
					<h2 class="title__be--2">bài viết <span class="color--theme">nổi bật</span></h2>
					<p>Chúng tôi luôn mang lại cho bạn nhiều sự lựa chọn mới về thế giới nhà vườn.</p>
				</div>
			</div>
		</div>
		<div class="row mt--50">
			{{#each hotPosts}}
			<div class="col-md-6 col-lg-4 col-sm-12">
				<div class="post__itam">
					<div class="content">
						<img src="{{cover}}">
						<h3><a href="/listpost/{{_id}}">{{title}}</a></h3>
						<p>{{descriptions}}</p>
						<div class="post__time">
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>

<!-- Start Recent Post Area -->
<section class="wn__recent__post bg--gray pt--30">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section__title text-center">
					<h2 class="title__be--2">Blog của <span class="color--theme">Hoc Lam Vuon</span></h2>
					<p>Quan tâm nếu bạn thấy thích nhé!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Recent Post Area -->


	












