<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="/css/custom.css">

	<!-- Modernizer js -->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-1">
						<div class="logo">
							<a href="/">
								<img src="/images/logo/Hoc Lam Vuon.png" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-7 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="/">Trang chủ</a></li>
								<li class="drop"><a href="/listpost">Danh mục bài viết</a></li>
								<li class="drop"><a href="blog.html">Blog</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a href="blog.html">Blog</a></li>
										</ul>
									</div>
								</li>
								<li><a href="contact.html">Về chúng tôi</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-4">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							{{!-- <li class="shop_search"><a class="search__active" ></a></li> --}}
							<li class="nav-item ">
								<div class="navbar-search-block">
								<form >
									<div class="row">
										<div class="col-lg-1.5">
											<button class="btn btn-navbar" type="submit" height="40" width="40">
												<i class="fas fa-search " width="40"></i>
											</button>
										</div>
										<div class="col-lg-10">
											<input class="form-control form-control-navbar" href="/listpost/?" type="search" placeholder="Tìm kiếm bài viết" aria-label="Search" name="search" >
										</div>
									</div>
								</form>
								</div>
               				 </li>
							<li 
							<li>&nbsp; &nbsp;&nbsp;&nbsp;</li>
							<li class="shopcart"><a  href="/carts/listcart">
							{{#if user}}
								{{#if user.cart}}
									<span class="product_qun">{{user.cart.totalQty}}</span>
								{{else}}
									<span class="product_qun">0</span>
								{{/if}}
							{{else}}
								{{#if session.cart}}
									<span class="product_qun">{{session.cart.totalQty}}</span>
								{{else}}
									<span class="product_qun">0</span>
								{{/if}}
							{{/if}}
							</a>
							</li>
							{{#if user}}
							<li class="setting__bar__icon rounded-circle"><a class="setting__active" title="Tài khoản của tôi">
								{{#if user.imageProfile }}
									<img src="{{user.imageProfile}}" width="30" height="30" >
								{{/if}}
							</a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											
											<strong class="label switcher-label">
												<span><img src="{{user.imageProfile}}" width="30" height="30" > {{user.username}}</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu ">
													
														<span><a href="/users/profile/{{user._id}}">Tài khoản của tôi</a></span>
														<span><a href="/users/order">Đơn hàng của tôi</a></span>
														<span><a href="/users/switch_login">Đăng nhập tài khoản khác</a></span>
														<span><a href="/users/register">Đăng ký</a></span>
														<span><a href="/users/logout">Đăng xuất</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							{{/if}}
							{{#not user }}
								<li>
									<a href="/users/login" class="btn border button btn-light"><span class="color--theme meninmenu">Đăng nhập</span></a>
								</li>
								&nbsp; &nbsp; &nbsp;
								<li>
									<a href="/users/register" class="btn border button btn-light"><span class="color--theme">Đăng ký</span></a>
								</li>
							{{/not}}
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="/">Trang chủ</a></li>
								
								<li><a href="/listpost">Cửa hàng</a>
									<ul>
										<li><a href="shop-grid.html">Shop Grid</a></li>
										<li><a href="single-product.html">Single Product</a></li>
									</ul>
								</li>
								<li><a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog </a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->	
			</div>		
		</header>
       
		<!-- Start BEst Seller Area -->
		{{{body}}}
		
		<!-- Best Sale Area Area -->
		<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="/">
										<img src="/images/logo/3.png" alt="logo">
									</a>
									<p>Thế giới sách luôn tự hào cung cấp những cuốn sách bổ ích.</p>
								</div>
								<div class="footer__content">
									<ul class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="#"><i class="bi bi-facebook"></i></a></li>
										<li><a href="#"><i class="bi bi-google"></i></a></li>
										<li><a href="#"><i class="bi bi-twitter"></i></a></li>
										<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="#"><i class="bi bi-youtube"></i></a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>Copyright <i class="fa fa-copyright"></i> <a href="https://freethemescloud.com/">Free themes Cloud.</a> All Rights Reserved</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment text-right">
								<img src="/images/icons/payment.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->

	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/active.js"></script>
	<script>
		const price = document.getElementById('price');
		const qty = document.getElementById('qty');
		const totalPriceOneItem = document.getElementById('totalPriceOneItem');
		const totalPrice = document.getElementById('totalPrice');
		qty.onkeyup = changeQty;

		function readURL(input) {
					if (input.files && input.files[0]) {
						var reader = new FileReader();

						reader.onload = function (e) {
							$('#image')
								.attr('src', e.target.result)
								.width(200)
								.height(200);
						};

						reader.readAsDataURL(input.files[0]);
					}
				}
		function changeQty(event) {
					alert(price.value);
				}
     </script>
	
</body>
</html>