<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container pt--40 pb--40">
        <h3 class="wedget__title">Đóng góp bài viết</h3>       
        <!-- Start Contact Area -->
        <section class="wn_contact_area bg--white pt--40 pb--40">
            <div class="container">
                 <div class="row">
                     <div class="col">
                         {{#if messageSuccess}}
                            <div class="alert alert-success">
                                {{messageSuccess}}
                            </div>
                         {{/if}}
                         {{#if messageError}}
                            <div class="alert alert-danger">
                                {{messageError}}
                            </div>
                         {{/if}}
                     </div>
                 </div>
                <form  method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="contact-form-wrap">
                                <h3 class="contact__title">Nội dung bài viết</h3>
                                <p>Điền đầy đủ thông tin cho bài viết để có một bài đóng góp thật xuất sắc nào!</p>
                               
                                <div class="single-contact-form space-between">
                                    <input type="text" name="txtTitle" placeholder="Tiêu đề bài viết*" value="{{txtTitle}}" required>
                                    {{!-- <input type="text" name="nameCategory" placeholder="Thể loại*" value="{{nameCategory}}" required> --}}
                                   
                                    <select class="form-select" aria-label="Default select example" name="optionCat">                       
                                    {{#each category}}
                                    <option value="{{_id}}" selected >{{nameCategory}}</option>
                                     {{/each}}                                  
                                    </select>
                                   
                                </div>
                                {{!-- <div class="single-contact-form">
                                    <input type="text" name="description" placeholder="Thêm mô tả nội dung ngắn gọn cho tiêu đề*" required>
                                </div> --}}
                                <div class="single-contact-form message">
                                    <textarea name="description" placeholder="Thêm mô tả nội dung ngắn gọn cho tiêu đề*" required>{{description}}</textarea>
                                </div>                                                              
                            </div> 
                            <div class="form-output">
                                <p class="form-messege">
                            </div>
                        </div>
                        <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                            <div class="wn__address">
                                <h3 class="contact__title">Thêm ảnh cho bài viết</h3>
                                <div class="wn__addres__wreapper">
                                    <div class="single__address">
                                        {{!-- <i class="far fa-image"></i> --}}
                                        <div class="content">
                                            {{!-- <span>Thêm ảnh bìa chính cho bài viết<span>*</span></span> --}}
                                            <img src={{cover}} class="img align-items-start" id="image" width="350" height="300" name="cover">
                                            <input class="btn  button " type="file" accept="image/*" name="cover" onchange="readURL(this);" required></input>
                                        </div>
                                    </div>

                                    {{!-- <div class="single__address pt--60">
                                    <i class="far fa-images"></i>
                                        <div class="content">
                                            <span>Thêm những hình ảnh khác cho bài viết</span>
                                            <input class="btn button " type="file" accept="image/*" name="listImages"  multiple></input>
                                        </div>
                                    </div> --}}
                            </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-contact-form message ">
                                <textarea id="editor" class="form-control" name="detail" placeholder="Thêm nội dung chi tiết bài viết*"  required>{{detail}}</textarea>
                            </div>
                            <br>
                             <div >
                            <button type="submit" class="btn btn-success" >Đóng góp bài viết</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </section>
        <!-- End Contact Area -->
        <!-- //Main wrapper -->
    </div>
</div>