
<div class="wrapper pt--40" id="wrapper">
	<div class="page-blog-details section-padding--lg bg--white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-12">
					<div class="blog-details content">
						<article class="blog-post-details">
							<div class="post-thumbnail">
								<img src="{{post.cover}}" alt="post images">
							</div>
							<div class="post_wrapper">
								<div class="post_header">
									<h2>{{post.title}}</h2>
									<div class="blog-date-categori">
										<ul>
											<li>December 26, 2020</li>
											<li><a href="#" title="Posts by boighor" rel="author">{{post.author}}</a></li>
										</ul>
									</div>
								</div>
								<div class="post_content">
									<blockquote>{{post.descriptions}}</blockquote>
									<p>{{{post.detail}}}</p>									
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
				<div class="wn__sidebar">
					<!-- Start Single Widget -->
					<aside class="widget recent_widget">
						<h3 class="widget-title">Hình ảnh</h3>
						 {{#if post.listImages}}
						<div class="recent-posts">
							<ul>
								{{#each post.listImages}}
								<li>
									<div class="">
										<div class="thumb">
											<img src="{{this}}" alt="blog images" width="300" height="200">
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
						{{else}}
                            <p>Chưa có hình ảnh</p>
                        {{/if}}
					</aside>
					<!-- End Single Widget -->
				</div>
			</div>
			</div>
		</div>
	</div>

</div>


					