
<div class="wrapper pt--40" id="wrapper">
	<div class="page-blog-details section-padding--lg bg--white">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-12">
					<div class="blog-details content">
						<article class="blog-post-details">
							<div class="post-thumbnail">
								<img src="{{post.cover}}" alt="post images">
							</div>
							<div class="post_wrapper">
								<div class="post_header">
									<h2>{{post.title}}</h2>
									<div class="blog-date-categori">
										<ul>
											<li>June 27, 2020</li>
											<li><a href="#" title="Posts by boighor" rel="author">{{post.author}}</a></li>
										</ul>
									</div>
								</div>
								<div class="post_content">
									<blockquote>{{post.description}}</blockquote>
									<p>{{post.detail}}</p>									
								</div>
								<ul class="blog_meta">
									<li><a href="#">{{post.totalComments}} Comments</a></li>
								</ul>
							</div>
						</article>
						{{#gt totalComments 0}}
						<div class="comments_area">
							<h3 class="comment__title">comment</h3>
							<ul class="comment__list">
								<li>
									{{#each comment}}
									<div class="wn__comment">
										<div class="thumb">
											<img src="" alt="comment images">
										</div>										
										<div class="content">
											<div class="comnt__author d-block d-sm-flex">
												<span><a href="#">admin</a> Post author</span>
												<span>October 6, 2014 at 9:26 am</span>
												<div class="reply__btn">
													<a href="#">Reply</a>
												</div>
											</div>
											<p>Sed interdum at justo in efficitur. Vivamus gravida volutpat sodales. Fusce ornare sit</p>
										</div>
									</div>
									{{/each}}
								</li>
							</ul>
						</div>
						{{/gt}}
					</div>
				</div>
				<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
				<div class="wn__sidebar">
					<!-- Start Single Widget -->
					<aside class="widget recent_widget">
						<h3 class="widget-title">Recent</h3>
						<div class="recent-posts">
							<ul>
								{{#each post.listImages}}
								<li>
									<div class="post-wrapper d-flex">
										<div class="thumb">
											<img src="{{this}}" alt="blog images">
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					</aside>
					<!-- End Single Widget -->
				</div>
			</div>
			</div>
		</div>
	</div>

</div>
