<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
            <link rel='stylesheet' href='/style.css'/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
       <h1 id="title">Update product</h1>

        <div class="container">
            
            <label><b>Tên sách (*)</b></label>
            <input type="text" name="txtTitle" placeholder="Nhập tên sách" value="{{book.title}}" required>

            <label><b>Link ảnh (*)</b></label>
            <input type="text" name="txtImagePath" placeholder="Nhập link ảnh hoặc upload" value="{{book.cover}}">
            <input name="txtImagePath" type="file" value="{{book.cover}}">
            <br>

            <label><b>Link ảnh thêm </b></label>
            <input type="text" name="txtImagePath_more" placeholder="Upload" value="{{book.listImages}}">
            <input name="txtImagePath_more" type="file" value={{book.listImages}} multiple>
            <br>

            <label><b>Tác giả (*)</b></label>
            <input type="text" name="txtDescription" placeholder="Nhập tác giả" value="{{book.decription}}" required>

            <label><b>Chi tiết (*)</b></label>
            <input type="text" name="txtDetail" placeholder="Nhập chi tiết" value="{{book.detail}}"required>

            <label><b>Giá cũ (*)</b></label>
            <input type="text" name="txtOldPrice" placeholder="Nhập giá cũ" value="{{book.oldPrice}}" required>

            <label><b>Giá hiện tại (*)</b></label>
            <input type="text" name="txtSalePrice" placeholder="Nhập giá hiện tại" value="{{book.salePrice}}"required>

            <label><b>Thể loại (*)</b></label>
            <input type="text" name="txtCategory" placeholder="Nhập Thể loại" value="{{book.nameCategory}}" required>

            <label><b>Trạng thái </b></label>
            <input type="text" name="txtStatus" placeholder="Nhập Trạng thái" value="{{book.status}}" >
            
            <div class="row">
                 <div class="col-lg-2">
                    <a class="drop with--one--item btn-add btn btn-secondary btn-lg" href="/home/products/"><i class="fas fa-long-arrow-alt-left"></i>Trở lại</a>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="drop with--one--item btn-add btn btn-secondary btn-lg">Cập nhật</button>

                </div>
                <div class="col-2">
                    <a class="drop with--one--item btn-delete btn btn-secondary btn-lg" href="/home/products/delete/{{book._id}}">Delete</a>
                </div>

            </div>
        </div>
        

    </form>
</body>