<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
            <link rel='stylesheet' href='/style.css'/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
       <h1 id="title">Update product</h1>

        <div class="container">
            
            <label><b>Title (*)</b></label>
            <input type="text" name="txtTitle" placeholder="Enter Title" value="{{book.title}}" required>

            <label><b>ImagePath (*)</b></label>
            <input type="text" name="txtImagePath" placeholder="Enter ImagePath or Upload file" value="{{book.cover}}">
            <input name="txtImagePath" type="file" value="{{book.cover}}">
            <br>

            <label><b>Description (*)</b></label>
            <input type="text" name="txtDescription" placeholder="Enter Description" value="{{book.decription}}" required>

            <label><b>Detail (*)</b></label>
            <input type="text" name="txtDetail" placeholder="Enter Detail" value="{{book.detail}}"required>

            <label><b>Old Price (*)</b></label>
            <input type="text" name="txtOldPrice" placeholder="Enter Old Price" value="{{book.oldPrice}}" required>

            <label><b>Sale Price</b></label>
            <input type="text" name="txtSalePrice" placeholder="Enter Sale Price" value="{{book.salePrice}}"required>

            <label><b>Thể loại (*)</b></label>
            <input type="text" name="txtCategory" placeholder="Enter Thể loại" value="{{book.nameCategory}}" required>

            <label><b>Trạng thái </b></label>
            <input type="text" name="txtStatus" placeholder="Enter Trạng thái" value="{{book.status}}" >
            
            <div class="row">
                 <div class="col-lg-2">
                    <a class="drop with--one--item btn-add btn btn-secondary btn-lg" href="/home/products/">Back</a>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="drop with--one--item btn-add btn btn-secondary btn-lg">Update</button>

                </div>
                <div class="col-2">
                    <a class="drop with--one--item btn-delete btn btn-secondary btn-lg" href="/home/products/delete/{{book._id}}">Delete</a>
                </div>

            </div>
        </div>
        

    </form>
</body>