<head>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/style.css'/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


</head>
    <form action="" method="post" enctype="multipart/form-data">            
            <h1  id="title">Thêm bài viết</h1>
            <div class="container ">
                 {{#if err}}
                                        <div class="alert alert-success">
                                            {{err}}
                                        </div>
                                    {{/if}}
                <label><b >Tên bài viết (*)</b></label>
                <input  type="text" name="txtTitle" placeholder="Nhập tên bài viết" value="{{txtTitle}}" required>
                {{#if messageTitle}}
                                        <div class="alert alert-danger">
                                            {{messageTitle}}
                                        </div>
                                    {{/if}}

                <label><b>Link ảnh (*)</b></label>
                <input class="form-control-file" name="txtImagePath" type="file" accept="image/*" value="{{txtImagePath}}" required >
                <br>

                <label><b>Link ảnh thêm </b></label>
                <input class="form-control-file" name="txtImagePath_more" type="file" accept="image/*" value="{{txtImagePath_more}}" multiple>
                <br>

               {{#if messageImage}}
                                        <div class="alert alert-danger">
                                            {{messageImage}}
                                        </div>
                                    {{/if}}
                <label><b>Người đăng (*)</b></label>
                <input type="text" name="txtAuthor" placeholder="Nhập người đăng" value="{{txtAuthor}}" required>

                <label><b>Mô tả ngắn (*)</b></label>
                <input type="text" name="txtDescription" placeholder="Nhập mô tả ngắn" value="{{txtDescription}}" required>

                <label><b>Chi tiết (*)</b></label>
                <textarea class="form-control" name="txtDetail" placeholder="Nhập chi tiết"  required>{{txtDetail}}</textarea>
                <br>

                <label><b>Thể loại (*)</b></label>
                <input type="text" name="txtCategory" placeholder="Nhập phân loại" value="{{txtCategory}}" required>

                <label><b>Trạng thái </b></label>
                <input type="text" name="txtStatus" placeholder="Nhập Trạng thái" value="{{txtStatus}}">

            <div class="row">
                    <div class="col-lg-3   ">
                        <a class="btn-add btn  btn-lg" href="/home/posts/admin"><i class="fas fa-long-arrow-alt-left"></i> Trở lại</a>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class=" btn-add btn  btn-lg">+ Thêm</button>
                    </div>
                </div>
            </div>
                        </form>
