
<div class="content-wrapper">
    
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div  class="row mb-2">
            <div class="col-sm-9">
              <h1 style="font-size: 30px;">Thông tin bài viết user</h1>
            </div>
            <div class="col-sm-3">
                <!-- Navbar Search -->
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="navbar-search-block">
                      <form class="form-inline">
                          <button class="btn btn-navbar" type="submit">
                              <i class="fas fa-search"></i>
                          </button>
                          {{!-- txtSearch={{Search}} --}}
                          <input class="form-control form-control-navbar" href="/home/posts/user?txtSearch={{Search}}" type="search" placeholder="Tìm kiếm" aria-label="Search" name="txtSearch">
                      </form>
                    </div>
                </li>
              </ul>
            </div>
        </div>
      </div><!-- /.container-fluid -->
      <div class="row container-fluid">
          <div class="col-8">
          </div>
          <div class="dropdown show combobox_catalog ">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{nameSort}}
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/home/posts/user/?stt=1">Tất cả</a>
                  <a class="dropdown-item" href="/home/posts/user/?stt=2">Đợi duyệt</a>
                  <a class="dropdown-item" href="/home/posts/user/?stt=3">Đã duyệt</a>
                </div>
                
          </div>
          
          <div class="dropdown show combobox_catalog col">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{nameCategory}}
            </a>
            <div class="dropdown-menu col" aria-labelledby="dropdownMenuLink">
              {{#each category}}
              <a class="dropdown-item" href="/home/posts/user?catID={{_id}}">{{nameCategory}}</a>
              {{/each}}
            </div>
          </div>
    </section>



    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                  <thead>
                      <th>Tên bài viết</th>
                      <th>Trạng thái</th>
                      <th>Người đăng</th>
                      <th>Thể loại</th>
                      <th>Bình luận</th>
                      <th>Sửa</th>
                  </thead>
                  <tbody>
                    {{#each posts}}
                      <tr>
                      <td>{{title}}</td>
                      <td>{{status2}}</td>
                      <td>{{author}}</td>
                      <td>{{nameCategory}}</td>

                      <td><a class="drop with--one--item btn-add " href="/home/posts/user/comments/{{_id}}">Xem</a></td>              

                      <td><a class="drop with--one--item btn-add " href="/home/posts/user/update/{{_id}}">Edit</a></td>              
                      </tr>
                    {{/each}}
                  </tbody>
                </table>    

                <div class="clearfix"></div>
                <h3>{{totalDocs}} bài viết</h3>
                <nav aria-label="Page navigation example" style="..."> 
                    <ul class="pagination justify-content-center pull-right">
                        {{#isnt currentPage 1}}
                        <li >
                            <a href="/home/posts/user?{{prevPageQueryString}}" aria-label="Previous">
                              <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </li>
                        {{/isnt}}
                        {{#if hasPreviousPage}}
                        <li >
                          <a href="/home/posts/user?{{prevPageQueryString}}">{{prevPage}}
                          </a>
                        </li>
                        {{/if}}
                        <li class="active">
                            <a href="javascript:void(0)" tabindex="-1">{{currentPage}}
                            </a>
                        </li>
                        {{#if hasNextPage}}
                        <li >
                           <a href="/home/posts/user?{{nextPageQueryString}}">{{nextPage}}
                          </a>
                        </li>
                        {{/if}}
                        {{#gt lastPage currentPage}}
                        <li >
                            <a href="/home/posts/user?{{nextPageQueryString}}" aria-label="Next">
                              <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                        {{/gt}}
                    </ul>
                </nav>
              </div>
            </div>
	        </div>
        </div>

        
      </div>
       
    </section>
    <!-- /.content -->
   
  </div>